/* Gallery container */
.gallery{
    display: inline-block;
    width: 200px;
    margin: 5px;
    border: 1px solid hsl(0, 0%, 60%);
    text-align: center;
}

/* Image styling */
.gallery img{
    width: 100%;
    height: auto;
}

/* Desctiption below each image*/
.desctiption{
    padding: 10px;
    font-size: auto;
}

/* Hover effect: change border color */
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%)
}

#footer{
    margin: 0px;
    text-align: center;
    padding: 10px;
}